html {
	font-family: serif;
}

body {
	padding: 25px;
}

button {
	padding: 6px 12px;
	touch-action: manipulation;
	border: 1px solid #000;
}

button:not(:disabled):not([aria-disabled='true']) {
	cursor: pointer;
}

p {
	margin-top: 1em;
}

.ellipsis {
	line-height: 5;
}

.dialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-direction: column; /* for IE11 */
	padding: 30px;
	overflow: auto;
}

.dialog[aria-hidden='true'] {
	display: none;
}

.dialog--animated {
	transition: opacity 0.3s;
}

.dialog--animated[aria-hidden='true'] {
	display: flex; /* overrides the default style above */
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.3s, opacity 0.3s;
}

.dialog__backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-color: rgb(0 0 0 / 0.3);
}

.dialog__document {
	flex-shrink: 0;
	width: 100%;
	padding: 30px;
	margin: auto;
	background-color: #fff;
	border-radius: 25px;
}

.dialog--animated .dialog__document {
	transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	will-change: transform;
}

.dialog--animated[aria-hidden='true'] .dialog__document {
	transform: scale(0.85);
}

@media (min-width: 48em) {
	.dialog__document {
		width: 860px;
	}
}

.full-screen-dialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	overflow: auto;
	background-color: #f5f3f2;
}

.full-screen-dialog[aria-hidden='true'] {
	display: none;
}

.full-screen-dialog__document {
	padding: 30px;
}
