* {
  padding: 0;
  margin: 0;
}

html {
  padding: 25px;
  font-family: serif;
}

h1:first-child {
  margin-top: 0;
}

button {
  padding: 6px 12px;
  border: 1px solid #000;
}

.ellipsis {
  line-height: 5;
}

.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column; /* for IE11 */
  overflow: auto;
}

.dialog[aria-hidden='true'] {
  display: none;
}

.dialog[id='animated-dialog'] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.dialog[id='animated-dialog'][aria-hidden='true'] {
  display: flex;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0s 0.3s;
}

/* This extra element is required for scrolling to work correctly in Firefox and IE11 when there is padding */
.dialog__inner {
  position: relative;
  z-index: 0;
  flex-shrink: 0; /* for IE11 */
  width: 100%;
  padding: 30px;
  margin: auto;
}

@media (min-width: 768px) {
  .dialog__inner {
    box-sizing: content-box;
    width: 860px;
  }
}

.dialog__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.3);
}

.dialog__element {
  /* - */
}

.dialog__document {
  padding: 30px;
  background-color: #fff;
  border-radius: 25px;
}

.full-screen-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
  background-color: #f5f3f2;
}

.full-screen-dialog[aria-hidden='true'] {
  display: none;
}

.full-screen-dialog__element {
  height: 100%;
}

.full-screen-dialog__document {
  min-height: 100%;
  padding: 30px;
}
